/* Styles for the Media in Main */
video {
	border: 1px solid black;
}
main audio {
	border: 1px solid black;
	padding: 0;
}
iframe {
	border: 1px solid black;
	padding: 0;
}

.movefront {
	z-index: 3;
}
.moveback {
	z-index: 1;
}

/* Styles for the Aside */
aside #sidebarA {
	height: 672px;
}

#sidebarB p {
	padding-left: 7px;
}